<div class="row">
    <div class="col-md-3 sidebar" id="menulaterale">
        <ul class="nav nav-sidebar" id="opzionimenu">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#/creaAlbum">Crea Album</a></li>
            <li><a href="#/listaAlbum">Lista Album</a></li>
            <li class="nav-divider"></li>
            <li><a id="nero" href="#/logout" ng-click="logout()">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    </div>
</div>
